body {
font-family: Arial, sans-serif;
margin: 0;
background-image: url('../images/Universal-BG.png');
background-size: cover;
}
header {
display: flex;
justify-content: space-between;
padding: 20px;
background: #111;
color: white;
border-bottom: 1px solid #333;
box-shadow: 0 0 10px rgba(242, 242, 242, 0.267);
}
nav a {
color: white;
margin-left: 20px;
text-decoration: none;
}
.cart {
padding: 40px;
width:25%;
}
.item {
background: white;
display: flex;
padding: 20px;
border-radius: 10px;
gap: 20px;
margin-bottom: 20px;
flex-direction: column;

}
.item img{
    width: 100%;
    border-radius: 10px;
}

.total {
text-align: right;
margin-top: 20px;
}
.cart button {
padding: 10px 20px;
border: none;
background: #ff5500;
color: white;
border-radius: 5px;
}
footer {
text-align: center;
padding: 20px;
background: #111;
color: white;
}