body {
font-family: Arial, sans-serif;
margin: 0;
background: url('../images/Universal-BG.png');
}
header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background: #111;
color: #fff;
border-bottom: 1px solid #333;
box-shadow: 0 0 10px rgba(242, 242, 242, 0.267);
}
nav a {
color: #fff;
margin-left: 20px;
text-decoration: none;
}
.hero {
text-align: center;
padding: 100px 20px;
background-color: rgba(242, 242, 242, 0.055);;
box-shadow: 0 0 10px rgba(242, 242, 242, 0.267);
display: flex;
flex-direction: column;
align-items: center;
color: white;
}
.hero .btn {
background: #ff5500;
padding: 12px 25px;
color: #fff;
text-decoration: none;
border-radius: 5px;
}
.categories {
padding: 50px;
text-align: center;
}
.grid {
display: flex;
justify-content: center;
gap: 20px;
margin-top: 20px;
}
.item {
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
footer {
text-align: center;
padding: 20px;
background: #111;
color: white;
}