body {
font-family: Arial, sans-serif;
margin: 0;
background-image: url('../images/Universal-BG.png');
background-size: cover;
}
header {
display: flex;
justify-content: space-between;
padding: 20px;
background: #111;
color: white;
border-bottom: 1px solid #333;
box-shadow: 0 0 10px rgba(242, 242, 242, 0.267);

}
nav a {
color: white;
margin-left: 20px;
text-decoration: none;
}
.products {
padding: 40px;
text-align: center;
}
.grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
margin-top: 30px;
}
.card {
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.card img {
width: 100%;
border-radius: 10px;
}
button {
margin-top: 10px;
padding: 10px;
border: none;
background: #ff5500;
color: white;
border-radius: 5px;
}

footer {
text-align: center;
padding: 20px;
background: #111;
color: white;
}